name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ec2-user/aws-docker-portfolio
            git pull origin main
            docker stop portfolio || true
            docker rm portfolio || true
            docker rmi portfolio || true
            docker build --no-cache -t portfolio .
            docker run -d -p 80:80 --restart unless-stopped --name portfolio portfolio

